html, body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.login-box{
    display: flex;
    width: 80%;
    height: 87vh;
    background-color: #ffffff;
    margin: 3% 0 0 0;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left-container{
    width: 60vh;
    height: 90%;
}

.login-left{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-right{
    display: flex;
    width: 100%;
}

.user-pass{
    display: block;
    text-align: center;
}

.user-pass input{
    width: 50%;
    padding: 3% 2% 3% 9%;
    margin-top: 3%;
    border: 1px solid #dfdddd;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 1px 0px;
    font-family: 'Inter', sans-serif;
    color: #404040;
}

.user-pass .inp-username input {
    background-image: url(../image/user-icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 8%;
    background-position-x: 3%;
}

.user-pass .inp-password input {
    background-image: url(../image/password-icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
    background-position-x: 3%;
}

input::placeholder{
    color: #c4c4c4;
}

.btn-login-box{
    display: flex;
}

#btn-login{
    padding: 10%;
}